<!DOCTYPE html>
<html lang="en">
<head>
     <% include ../partials/head %>
</head>
<body>
    <main>
            <header>
                    <%include ../partials/header %>
                </header>
                
            
                <%include ../partials/javascript %>
            </main>
          
            <footer>
                <%include ../partials/footer %>
            </footer>
</body>
</html>