<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <main>  
        
        <header>
            <% include ../partials/header %>
        </header>
       <h1 class="hey">Bestem jer hvor i vil sidde</h1>
        <canvas id="bestil" width="800" height="600"></canvas>
    </main>

    <footer>
        <%include ../partials/footer %>
    </footer>

    <%include ../partials/javascript %>
    
</body>
</html>