<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<main>

    <header>
        <%include ../partials/header %>
    </header>
    
    <h1 class="hey">Nyheder</h1>
    

</main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
    <% include ../partials/javascript %>
</body>
</html>